autopep8
blinker
click
colorama
Flask
Flask-SQLAlchemy
greenlet
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
marshmallow
mysql-connector-python
packaging
protobuf
psycopg2
pycodestyle
PyJWT
SQLAlchemy
tomli
typing-extensions
Werkzeug
yapf
zipp
