autopep8
blinker
click
colorama
Flask
Flask-Cors
Flask-SQLAlchemy
gunicorn
greenlet
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
marshmallow
mysql-connector-python
packaging
protobuf
psycopg2
pycodestyle
PyJWT
SQLAlchemy
six
tomli
typing-extensions
Werkzeug
yapf
zipp
