autopep8
blinker
click
colorama
Flask
Flask-Cors
Flask-SQLAlchemy
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
marshmallow
mysql-connector-python
numpy
packaging
pandas
protobuf
psycopg2
pycodestyle
PyJWT
python-dateutil
pytz
scikit-learn
scipy
six
SQLAlchemy
threadpoolctl
tomli
typing-extensions
tzdata
Werkzeug
yapf
zipp
